@import url(https://fonts.googleapis.com/css?family=Montserrat);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
    --blue: #233D4D;
    --yellow:#FCCA46;
    --orange: #FE7F2D;
    --light-text-color: #F2F2F2;
    --dark-text-color: #080808;
}

* {
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;  
}

/* HEADER */
.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-text-color);
    background-image: url(../img/header.bmp);
    background-repeat: no-repeat;
    background-size: auto;
}

.header-box {
    text-align: center;
    width: 70%;
}

.header-box h1 {
    font-size: 5vw;
    margin-bottom: 0.67em;
}

.header-box h2 {
    font-size: 2vw;
    margin-top: 0.87em;
}

.header-box hr {
    border: 0;
    border-top: 0.5vw solid var(--light-text-color);
}

.header > hr {
    position: absolute;
    bottom: 0px;
    border: 0;
    border-top: 4px solid var(--yellow);
    width: 100vw;
}

.header span {
    display: block;
    position: absolute;
    bottom: 32px;
    opacity: 0.5;
    color: var(--yellow);
}

.header span:hover {
    opacity: 1;
}

/* MENU */
nav {
    width: 100%;  
    background-color: #333;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

nav ul {
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    font-size: 16pt;
    color: var(--light-text-color);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    margin: 0 8px;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--yellow);
}

.sticky {
    position: fixed;
    top: 0;
}

/* CONTENT */
#content {
    width: 100vw;
    background-color: var(--blue);
}

/* ME */
#me {
    width: 100vw;
    background-color: var(--blue);
    margin-top: 32px;
}

#me div {
    width: 50%;
    margin: 0 auto;
}

#me h1, h2, p {
    text-align: center;
    color: var(--light-text-color);
}

#me h1 {
    font-size: 32pt;
}

#me h2 {
    font-size: 16pt;
}

#me p {
    width: 65%;
    margin: 32px auto;
}

#me img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin: 24px auto;
    display: block;
}

#me hr {
    border: 0;
    border-top: 4px solid var(--yellow);
    width: 100vw;
    position: absolute;
}

#me .social-media {
    margin-bottom: 32px;
}

/* SOCIAL MEDIA */
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    color: var(--light-text-color);
    font-size: 26pt;
    margin: 0 16px;
    opacity: 0.5;
}

.social-media a:hover {
    opacity: 1.0;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}